body, html {
    height: 100%;
  }
/* homepage styles */
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    background-image: url("https://res.cloudinary.com/dcm18vy74/image/upload/v1652559610/Project1-Images/Stocksy_txpcd1dc0eemKP100_Medium_1292869_jxi1ai.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.homepage-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.homepage-header {
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: white;
}

.homepage-button {
    margin-top: 10px;
    display: inline-block;
    background-color: rgb(94, 7, 40);
    color: white;
    border-color: rgb(37, 2, 16);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  
}


button:hover {
   background-color: rgb(100, 48, 68);  
}


header {
    display: flex;
    align-content: flex-end;
    height: 300px;
    background-image: url("https://res.cloudinary.com/dcm18vy74/image/upload/v1652559609/Project1-Images/GettyImages_1032865588_c3pry7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title  {
    font-size: 5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

section {
    margin: 10px;
}

#content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.film-section {
    padding: 1rem;
    transition: 0.4s;
}

.genre-buttons {
    display: flex;
    justify-content: center;
    width: auto;
    margin: .5rem 15rem;
    flex-wrap: wrap;
}

.genre-buttons button {
    margin: .5rem;
    border-radius: 5px;
    background-color: rgb(24, 255, 197);
    padding: .25rem .4rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

/* class to add to elements to hide them  */
.hide {
    display: none;
}